**Import Package**

In [ ]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

**Read Data**

In [ ]:
data = pd.read_csv('/content/goodbooks_10k_rating_and_description.csv')
data.head()

,book_id,book_title,book_series,title,book_authors,genres,book_score,book_rating,book_rating_obj,book_rating_count,...,book_pages_obj,books_count,books_count_obj,goodreads_book_id,book_isbn,isbn,isbn13,image_url_x,image_url_y,small_image_url
0,1,The Hunger Games,"The Hunger Games, #1","The Hunger Games (The Hunger Games, #1)",Suzanne Collins,Young Adult|Fiction|Science Fiction|Dystopia|F...,1.000000,4.33,4.0,5519135,...,3.0,272,14.0,2767052,9.780440e+12,439023483,9.780439e+12,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603l...,https://images.gr-assets.com/books/1447303603s...
1,2,Harry Potter and the Philosopher's Stone,"Harry Potter, #1",Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",NaN,0.824569,4.44,4.0,6682936,...,NaN,491,15.0,3,NaN,439554934,9.780440e+12,https://images.gr-assets.com/books/1474154022m...,NaN,https://images.gr-assets.com/books/1474154022s...
2,3,Twilight,"Twilight, #1","Twilight (Twilight, #1)",Stephenie Meyer,Young Adult|Fantasy|Romance|Paranormal|Vampire...,0.029020,3.58,3.5,4281268,...,4.0,226,14.0,41865,9.780320e+12,316015849,9.780316e+12,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443l...,https://images.gr-assets.com/books/1361039443s...
3,4,To Kill a Mockingbird,-,To Kill a Mockingbird,Harper Lee,Classics|Fiction|Historical|Historical Fiction...,0.231059,4.27,4.0,3745197,...,3.0,487,15.0,2657,9.780060e+12,61120081,9.780061e+12,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680l...,https://images.gr-assets.com/books/1361975680s...
4,5,The Great Gatsby,-,The Great Gatsby,F. Scott Fitzgerald,Classics|Fiction|Academic|School|Literature|Hi...,0.049427,3.90,3.5,3141842,...,1.0,1356,15.0,4671,NaN,743273567,9.780743e+12,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560l...,https://images.gr-assets.com/books/1490528560s...

In [ ]:
rating = pd.read_csv('/content/ratings.csv')
rating.head()

   user_id  book_id  rating
0        1    258.0     5.0
1        2   4081.0     4.0
2        2    260.0     5.0
3        2   9296.0     5.0
4        2   2318.0     3.0

In [ ]:
latest = pd.read_csv('/content/to_read.csv')
latest.head()

   user_id  book_id
0        9        8
1       15      398
2       15      275
3       37     7173
4       34      380

cek informasi data

In [ ]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4287527 entries, 0 to 4287526
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   book_id  float64
 2   rating   float64
dtypes: float64(2), int64(1)
memory usage: 98.1 MB

Cek panjang data

In [ ]:
rating['user_id'].value_counts()

30944    200
12874    200
12381    199
28158    199
19729    196
        ...
42644      1
24258      1
35756      1
10351      1
46148      1
Name: user_id, Length: 45143, dtype: int64

Memilih user dengan kriteria telah membaca lebih dari 15 buku

In [ ]:
user=rating["user_id"].value_counts()
user=user[user>15].index
user

Int64Index([30944, 12874, 12381, 28158, 19729,  6630,  9668, 24143, 15604,
            14372,
            ...
            22909, 38208, 11702,  4835, 39663, 39670, 43520, 36378, 13996,
            16470],
           dtype='int64', length=44123)

Memilih 300 buku dengan kriteria memiliki rating diatas 4.0

In [ ]:
df=data[data["book_rating"]>4.0]
df=df.iloc[:300]
book_id=df["book_id"].values

Membuat data baru yang berisi user_id dan book_id dimana user_id pada data readr sama dengan user_id pada data user yang merupakan hasil seleksi

In [ ]:
readr=latest[latest["user_id"].isin(user)][latest["book_id"].isin(book_id)]
readr

<ipython-input-9-fcf4f8e81012>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  readr=latest[latest["user_id"].isin(user)][latest["book_id"].isin(book_id)]

        user_id  book_id
4            34      380
8            70      498
13           29      323
28          137      362
30           94       10
...         ...      ...
411571    25433       90
411572    25433       13
411577    25433      325
411580    25433      472
411583    25433        1

[80631 rows x 2 columns]

Menggabungkan dataset data (variabel book_id dan title) dan data readr berdasarkan book_id

In [ ]:
df_read=readr.merge(data[["book_id","book_title"]],on="book_id")

In [ ]:
df_read["count"]=1
df_read

       user_id  book_id                 book_title  count
0           34      380  ノルウェイの森 [Noruwei no Mori]      1
1           84      380  ノルウェイの森 [Noruwei no Mori]      1
2         1979      380  ノルウェイの森 [Noruwei no Mori]      1
3         1046      380  ノルウェイの森 [Noruwei no Mori]      1
4         3626      380  ノルウェイの森 [Noruwei no Mori]      1
...        ...      ...                        ...    ...
80626    40022      460         Clockwork Princess      1
80627    37386      460         Clockwork Princess      1
80628    40202      460         Clockwork Princess      1
80629    39945      460         Clockwork Princess      1
80630     6153      285          The Rosie Project      1

[80631 rows x 4 columns]

Cek unique

In [ ]:
bi=df_read["book_id"].nunique()
ui=df_read["user_id"].nunique()
print('buku:',
      bi,'user:', ui)

buku: 291 user: 20905

Terdapat 300 buku dan 36433 user

**Association Rule Mining**

Membuat pivot table untuk mengelompokan judul buku berdasarkan pembaca

In [ ]:
def create_pivot (dataframe, id=False):
    if id:
        return dataframe.groupby(['user_id', "book_id"])['count'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)
    else:
        return dataframe.groupby(['user_id', 'book_title'])['count'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)

In [ ]:
title = create_pivot(df_read)
title=title.drop(['11/22/63'], axis=1)
title

book_title,The Fellowship of the Ring,1st To Die,2001: A Space Odyssey,A Brief History of Time: From the Big Bang to Black Holes,"A Child Called ""It"": One Child's Courage to Survive",A Christmas Carol,A Clash of Kings,A Dance with Dragons,A Feast for Crows,A Game of Thrones,...,Wonder,World War Z: An Oral History of the Zombie War,Анна Каренина,Братья Карамазовы,Война и миръ,Преступление и наказание,…trotzdem Ja zum Leben sagen: Ein Psychologe erlebt das Konzentrationslager,ねじまき鳥クロニクル [Nejimakidori kuronikuru],ノルウェイの森 [Noruwei no Mori],海辺のカフカ [Umibe no Kafuka]
user_id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40361,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40362,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40363,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47214,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47337,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
frequent_itemsets = apriori(title,min_support=0.001,use_colnames=True)
frequent_itemsets

       support                                           itemsets
0     0.019660                      ( The Fellowship of the Ring)
1     0.003731                                       (1st To Die)
2     0.008132                            (2001: A Space Odyssey)
3     0.011528  (A Brief History of Time: From the Big Bang to...
4     0.008084  (A Child Called "It": One Child's Courage to S...
...        ...                                                ...
3353  0.001435  (Harry Potter and the Chamber of Secrets, Harr...
3354  0.001531  (Harry Potter and the Chamber of Secrets, Harr...
3355  0.001866  (Harry Potter and the Chamber of Secrets, Harr...
3356  0.001435  (Harry Potter and the Goblet of Fire, Harry Po...
3357  0.001435  (Harry Potter and the Chamber of Secrets, Harr...

[3358 rows x 2 columns]

In [ ]:
associationrule = association_rules(frequent_itemsets,metric="support",min_threshold=0.0005)
associationrule

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( The Fellowship of the Ring),(A Game of Thrones),0.019660,0.042047,0.001818,0.092457,2.198888,0.000991,1.055546
1,(A Game of Thrones),( The Fellowship of the Ring),0.042047,0.019660,0.001818,0.043231,2.198888,0.000991,1.024636
2,(A Thousand Splendid Suns),( The Fellowship of the Ring),0.040851,0.019660,0.001387,0.033958,1.727223,0.000584,1.014800
3,( The Fellowship of the Ring),(A Thousand Splendid Suns),0.019660,0.040851,0.001387,0.070560,1.727223,0.000584,1.031963
4,(Cien años de soledad),( The Fellowship of the Ring),0.039225,0.019660,0.001148,0.029268,1.488695,0.000377,1.009898
...,...,...,...,...,...,...,...,...,...
8967,(Harry Potter and the Order of the Phoenix),"(Harry Potter and the Chamber of Secrets, Harr...",0.007749,0.001483,0.001435,0.185185,124.880526,0.001424,1.225453
8968,(Harry Potter and the Deathly Hallows),"(Harry Potter and the Chamber of Secrets, Harr...",0.009089,0.001866,0.001435,0.157895,84.635628,0.001418,1.185285
8969,(Harry Potter and the Half-Blood Prince),"(Harry Potter and the Chamber of Secrets, Harr...",0.007989,0.001435,0.001435,0.179641,125.179641,0.001424,1.217229
8970,(Harry Potter and the Philosopher's Stone),"(Harry Potter and the Chamber of Secrets, Harr...",0.008658,0.002822,0.001435,0.165746,58.727409,0.001411,1.195292
8971,(Harry Potter and the Prisoner of Azkaban),"(Harry Potter and the Chamber of Secrets, Harr...",0.006936,0.001483,0.001435,0.206897,139.521691,0.001425,1.259000

In [ ]:
# Menampilkan range value dari kolom support, confidence, dan lift dari Rules
print('Range Nilai Support')
print('Min:', associationrule['support'].min(), '\nMax:', associationrule['support'].max())
print('\nRange Nilai Confidence')
print('Min:', associationrule['confidence'].min(), '\nMax:', associationrule['confidence'].max())
print('\nRange Nilai Lift')
print('Min:', associationrule['lift'].min(), '\nMax:', associationrule['lift'].max())

Range Nilai Support
Min: 0.0010045443673762258
Max: 0.010284620904089931

Range Nilai Confidence
Min: 0.017721518987341773
Max: 1.0

Range Nilai Lift
Min: 0.8147185865999803
Max: 375.4367346938776

In [ ]:
# Mengurutkan data berdasarkan nilai confidence tertinggi
associationrule.sort_values(by='confidence', ascending=False).head(25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
8665,"(Harry Potter and the Order of the Phoenix, Ha...",(Harry Potter and the Chamber of Secrets),0.001531,0.007080,0.001531,1.0,141.250000,0.001520,inf
8848,"(Harry Potter and the Chamber of Secrets, Harr...",(Harry Potter and the Half-Blood Prince),0.001435,0.007989,0.001435,1.0,125.179641,0.001424,inf
7783,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Half-Blood Prince),0.001531,0.007989,0.001531,1.0,125.179641,0.001519,inf
8429,"(Harry Potter and the Goblet of Fire, Harry Po...","(Harry Potter and the Half-Blood Prince, Harry...",0.001483,0.004736,0.001483,1.0,211.161616,0.001476,inf
8852,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Chamber of Secrets),0.001435,0.007080,0.001435,1.0,141.250000,0.001425,inf
7944,"(Harry Potter and the Order of the Phoenix, Ha...","(Harry Potter and the Half-Blood Prince, Harry...",0.001579,0.004736,0.001579,1.0,211.161616,0.001571,inf
8678,"(Harry Potter and the Order of the Phoenix, Ha...","(Harry Potter and the Half-Blood Prince, Harry...",0.001531,0.004736,0.001531,1.0,211.161616,0.001523,inf
8417,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Chamber of Secrets),0.001483,0.007080,0.001483,1.0,141.250000,0.001472,inf
8870,"(Harry Potter and the Goblet of Fire, Harry Po...","(Harry Potter and the Half-Blood Prince, Harry...",0.001435,0.004736,0.001435,1.0,211.161616,0.001428,inf
7936,"(Harry Potter and the Half-Blood Prince, Harry...",(Harry Potter and the Chamber of Secrets),0.001579,0.007080,0.001579,1.0,141.250000,0.001567,inf
7933,"(Harry Potter and the Chamber of Secrets, Harr...",(Harry Potter and the Half-Blood Prince),0.001579,0.007989,0.001579,1.0,125.179641,0.001566,inf
7996,"(Harry Potter and the Half-Blood Prince, Harry...",(Harry Potter and the Chamber of Secrets),0.001579,0.007080,0.001579,1.0,141.250000,0.001567,inf
8413,"(Harry Potter and the Chamber of Secrets, Harr...",(Harry Potter and the Half-Blood Prince),0.001483,0.007989,0.001483,1.0,125.179641,0.001471,inf
8603,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Chamber of Secrets),0.001435,0.007080,0.001435,1.0,141.250000,0.001425,inf
7529,"(Harry Potter and the Order of the Phoenix, Ha...",(Harry Potter and the Half-Blood Prince),0.001579,0.007989,0.001579,1.0,125.179641,0.001566,inf
8026,"(Harry Potter and the Order of the Phoenix, Ha...",(Harry Potter and the Chamber of Secrets),0.001531,0.007080,0.001531,1.0,141.250000,0.001520,inf
7262,"(Harry Potter and the Order of the Phoenix, Ha...",(Harry Potter and the Chamber of Secrets),0.001579,0.007080,0.001579,1.0,141.250000,0.001567,inf
8538,"(Harry Potter and the Chamber of Secrets, Harr...",(Harry Potter and the Half-Blood Prince),0.001483,0.007989,0.001483,1.0,125.179641,0.001471,inf
7120,"(City of Bones, City of Lost Souls, City of Gl...",(City of Ashes),0.001005,0.008515,0.001005,1.0,117.443820,0.000996,inf
8203,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Half-Blood Prince),0.001483,0.007989,0.001483,1.0,125.179641,0.001471,inf
8324,"(Harry Potter and the Order of the Phoenix, Ha...",(Harry Potter and the Half-Blood Prince),0.001531,0.007989,0.001531,1.0,125.179641,0.001519,inf
8662,"(Harry Potter and the Chamber of Secrets, Harr...",(Harry Potter and the Half-Blood Prince),0.001531,0.007989,0.001531,1.0,125.179641,0.001519,inf
8786,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Half-Blood Prince),0.001435,0.007989,0.001435,1.0,125.179641,0.001424,inf
7846,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Chamber of Secrets),0.001483,0.007080,0.001483,1.0,141.250000,0.001472,inf
8541,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Chamber of Secrets),0.001483,0.007080,0.001483,1.0,141.250000,0.001472,inf

In [ ]:
print('\nRange Nilai Lift dengan Confidence == 100%')
print('Min:', (associationrule.sort_values(by='confidence', ascending=False).head(25))['lift'].min(), '\nMax:', (associationrule.sort_values(by='confidence', ascending=False).head(25))['lift'].max())

Range Nilai Lift dengan Confidence == 100%
Min: 117.44382022471909
Max: 211.16161616161614

In [ ]:
# Rules dengan nilai confidence tertinggi
associationrule.sort_values(by='confidence', ascending=False).head(120)[associationrule['confidence'] >= 1]

<ipython-input-66-d173b483c014>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  associationrule.sort_values(by='confidence', ascending=False).head(120)[associationrule['confidence'] >= 1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
8665,"(Harry Potter and the Order of the Phoenix, Ha...",(Harry Potter and the Chamber of Secrets),0.001531,0.007080,0.001531,1.0,141.250000,0.001520,inf
8848,"(Harry Potter and the Chamber of Secrets, Harr...",(Harry Potter and the Half-Blood Prince),0.001435,0.007989,0.001435,1.0,125.179641,0.001424,inf
7783,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Half-Blood Prince),0.001531,0.007989,0.001531,1.0,125.179641,0.001519,inf
8429,"(Harry Potter and the Goblet of Fire, Harry Po...","(Harry Potter and the Half-Blood Prince, Harry...",0.001483,0.004736,0.001483,1.0,211.161616,0.001476,inf
8852,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Chamber of Secrets),0.001435,0.007080,0.001435,1.0,141.250000,0.001425,inf
7944,"(Harry Potter and the Order of the Phoenix, Ha...","(Harry Potter and the Half-Blood Prince, Harry...",0.001579,0.004736,0.001579,1.0,211.161616,0.001571,inf
8678,"(Harry Potter and the Order of the Phoenix, Ha...","(Harry Potter and the Half-Blood Prince, Harry...",0.001531,0.004736,0.001531,1.0,211.161616,0.001523,inf
8417,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Chamber of Secrets),0.001483,0.007080,0.001483,1.0,141.250000,0.001472,inf
8870,"(Harry Potter and the Goblet of Fire, Harry Po...","(Harry Potter and the Half-Blood Prince, Harry...",0.001435,0.004736,0.001435,1.0,211.161616,0.001428,inf
7936,"(Harry Potter and the Half-Blood Prince, Harry...",(Harry Potter and the Chamber of Secrets),0.001579,0.007080,0.001579,1.0,141.250000,0.001567,inf
7933,"(Harry Potter and the Chamber of Secrets, Harr...",(Harry Potter and the Half-Blood Prince),0.001579,0.007989,0.001579,1.0,125.179641,0.001566,inf
7996,"(Harry Potter and the Half-Blood Prince, Harry...",(Harry Potter and the Chamber of Secrets),0.001579,0.007080,0.001579,1.0,141.250000,0.001567,inf
8413,"(Harry Potter and the Chamber of Secrets, Harr...",(Harry Potter and the Half-Blood Prince),0.001483,0.007989,0.001483,1.0,125.179641,0.001471,inf
8603,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Chamber of Secrets),0.001435,0.007080,0.001435,1.0,141.250000,0.001425,inf
7529,"(Harry Potter and the Order of the Phoenix, Ha...",(Harry Potter and the Half-Blood Prince),0.001579,0.007989,0.001579,1.0,125.179641,0.001566,inf
8026,"(Harry Potter and the Order of the Phoenix, Ha...",(Harry Potter and the Chamber of Secrets),0.001531,0.007080,0.001531,1.0,141.250000,0.001520,inf
7262,"(Harry Potter and the Order of the Phoenix, Ha...",(Harry Potter and the Chamber of Secrets),0.001579,0.007080,0.001579,1.0,141.250000,0.001567,inf
8538,"(Harry Potter and the Chamber of Secrets, Harr...",(Harry Potter and the Half-Blood Prince),0.001483,0.007989,0.001483,1.0,125.179641,0.001471,inf
7120,"(City of Bones, City of Lost Souls, City of Gl...",(City of Ashes),0.001005,0.008515,0.001005,1.0,117.443820,0.000996,inf
8203,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Half-Blood Prince),0.001483,0.007989,0.001483,1.0,125.179641,0.001471,inf
8324,"(Harry Potter and the Order of the Phoenix, Ha...",(Harry Potter and the Half-Blood Prince),0.001531,0.007989,0.001531,1.0,125.179641,0.001519,inf
8662,"(Harry Potter and the Chamber of Secrets, Harr...",(Harry Potter and the Half-Blood Prince),0.001531,0.007989,0.001531,1.0,125.179641,0.001519,inf
8786,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Half-Blood Prince),0.001435,0.007989,0.001435,1.0,125.179641,0.001424,inf
7846,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Chamber of Secrets),0.001483,0.007080,0.001483,1.0,141.250000,0.001472,inf
8541,"(Harry Potter and the Goblet of Fire, Harry Po...",(Harry Potter and the Chamber of Secrets),0.001483,0.007080,0.001483,1.0,141.250000,0.001472,inf

In [ ]:
# Info Rules dengan nilai confidence tertinggi
associationrule.sort_values(by='confidence', ascending=False).head(120)[associationrule['confidence'] >= 1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 8665 to 8541
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   antecedents         25 non-null     object
 1   consequents         25 non-null     object
 2   antecedent support  25 non-null     float64
 3   consequent support  25 non-null     float64
 4   support             25 non-null     float64
 5   confidence          25 non-null     float64
 6   lift                25 non-null     float64
 7   leverage            25 non-null     float64
 8   conviction          25 non-null     float64
dtypes: float64(7), object(2)
memory usage: 2.0+ KB

<ipython-input-63-0fe15164e900>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  associationrule.sort_values(by='confidence', ascending=False).head(120)[associationrule['confidence'] >= 1].info()

In [ ]:
# Rule dengan nilai confidence 100% dan lift tertinggi
associationrule.sort_values(by='confidence', ascending=False).head(25)[associationrule['lift'] >= 211.161]

<ipython-input-72-624a57cce529>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  associationrule.sort_values(by='confidence', ascending=False).head(25)[associationrule['lift'] >= 211.161]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
8429,"(Harry Potter and the Goblet of Fire, Harry Po...","(Harry Potter and the Half-Blood Prince, Harry...",0.001483,0.004736,0.001483,1.0,211.161616,0.001476,inf
7944,"(Harry Potter and the Order of the Phoenix, Ha...","(Harry Potter and the Half-Blood Prince, Harry...",0.001579,0.004736,0.001579,1.0,211.161616,0.001571,inf
8678,"(Harry Potter and the Order of the Phoenix, Ha...","(Harry Potter and the Half-Blood Prince, Harry...",0.001531,0.004736,0.001531,1.0,211.161616,0.001523,inf
8870,"(Harry Potter and the Goblet of Fire, Harry Po...","(Harry Potter and the Half-Blood Prince, Harry...",0.001435,0.004736,0.001435,1.0,211.161616,0.001428,inf

In [ ]:
# MInfo Rule dengan nilai lift tertinggi
associationrule.sort_values(by='confidence', ascending=False).head(120)[associationrule['lift'] >= 1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 8665 to 5884
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   antecedents         120 non-null    object
 1   consequents         120 non-null    object
 2   antecedent support  120 non-null    float64
 3   consequent support  120 non-null    float64
 4   support             120 non-null    float64
 5   confidence          120 non-null    float64
 6   lift                120 non-null    float64
 7   leverage            120 non-null    float64
 8   conviction          120 non-null    float64
dtypes: float64(7), object(2)
memory usage: 9.4+ KB

<ipython-input-64-3fb1d5463430>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  associationrule.sort_values(by='confidence', ascending=False).head(120)[associationrule['lift'] >= 1].info()